/*----------------------------------------------------------------------
 -----------------          DOCUMENT STYLE          -------------------- 
 ---------------------------------------------------------------------*/

* {
    font-family: 'Coiny', cursive;
    margin: 0 auto;
}


/*----------------------------------------------------------------------
 -------------------          BODY STYLE          ---------------------- 
 ---------------------------------------------------------------------*/
body {
    background: linear-gradient(magenta 0%, blueviolet 50%, indigo 100% );
}


/*----------------------------------------------------------------------
 ------------------          HEADER STYLE          --------------------- 
 ---------------------------------------------------------------------*/

header {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indigo;
    border: transparent;
    border-radius: 15px 15px;
    margin: 2% auto;
    box-shadow:     inset 4px 4px 4px violet, 
                    inset -2px -2px 4px white, 
                    inset 0px 0px 5px blueviolet;
}


h1 {
    color: whitesmoke;
    text-shadow:    -2px -2px 2px black, 
                    2px 2px 1px magenta;
    font-size: 2em;
    margin: 10px auto;
    padding: 5px;
}


/*----------------------------------------------------------------------
 -------------------          MAIN STYLE          ---------------------- 
 ---------------------------------------------------------------------*/

main {
    display: block;
    justify-content: center;
}

#board {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 40px;
    color: white;
    background-color: magenta;
    font-size: 18px;
    text-shadow:    2px 2px 2px indigo, 
                    -1px -1px 2px black;
    border-radius: 15px 15px;
    border: none;
    box-shadow:     inset -3px -3px 3px darkmagenta, 
                    inset 2px 2px 2px white;
}

#start {
    background-color: gold;
    margin: 0px calc(50% - 100px);
}

/*----------------------------------------------------------------------
 ------------------          MEMORY CARDS          --------------------- 
 ---------------------------------------------------------------------*/

.card {
    width: 90px;
    height: 120px;
    display: flex;
    margin: 0px 10px;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    
}

.card_back,
.card_front{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 5px 5px darkslategrey;
    border: 2px solid goldenrod;
}

.card_back {
    background-image: url("./imgs/stars.png");
    background-size: cover;
    
}

/* transform keeps face down until flipped */
.card_front {
    background: goldenrod;
    transform: rotateY(180deg);
    border: 3px solid navy;
    
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }

.card.match {
   transform: rotateY(180deg);
   transform: translateX(-100%) rotateY(-180deg);
}


/*----------------------------------------------------------------------
 -------------------          WINNER DIV          ---------------------- 
 ---------------------------------------------------------------------*/

#won {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transform: translateY(-500px);
    background: center / cover url("./imgs/win.png");
    box-shadow: 0px 0px 20px black;
}

#won p {
    font-size: 14px;
}

/*----------------------------------------------------------------------
 ------------------          FOOTER STYLE          --------------------- 
 ---------------------------------------------------------------------*/

footer {
    width: 101%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: indigo;
    box-shadow:     inset 2px 2px 6px violet, 
                    inset -3px -3px 4px white, 
                    inset 0px 0px 5px blueviolet, 
                    0px -20px 20px midnightblue;
                    margin-top: 20px;
    position: relative;
}    

ul {
    justify-content: left;
    margin-left: 2%;
    padding-inline-start: 0;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
    font-size: 12px;
    color: whitesmoke;
    margin: 5px 0px;
    padding-left: 10px;
}

a:link,
a:visited {
    color: plum;
}


/*----------------------------------------------------------------------
 -----------------          MEDIA QUERIES           -------------------- 
 ---------------------------------------------------------------------*/


/* VERY SMALL Phone  */

@media (max-width: 330px) {
    h1 {
        font-size: 1em;
    }
    #board {
        height: 100%;
    }
    .card {
        width: 75px;
        height: 110px;
        margin: 10px;
    }
}

 /* TABLET SIZE */

@media (min-width: 663px) {

    header {
        height: 10%;
        margin: 2% auto;
    }
    main{
        display: block;
    }
    #board {
        justify-content: space-evenly;
    }
    .card {
        width: 140px;
        height: 200px;
        margin: 20px;
        grid-area: c;
    }
    #won {
        width: 500px;
        transition: 0.3s ease-in;
        transform: translateY(-800px) scale(1.25);
        font-size: 3em;
    }
}

/* LAPTOP SIZE */

