* {
    font-family: 'Coiny', cursive;
    margin: 0 auto;
}

header {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indigo;
    border: transparent;
    border-radius: 15px 15px;
    margin-bottom: 2%;
    box-shadow: inset 4px 4px 4px violet, inset -2px -2px 4px white, inset 0px 0px 5px blueviolet;
}


h1 {
    color: whitesmoke;
    text-shadow: -2px -2px 2px black, 2px 2px 1px magenta;
    font-size: 2.5em;
    margin: 10px auto;
}

body {
    height: 100%;
    background: linear-gradient(magenta 0%, blueviolet 50%, indigo 100% );
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#board {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    min-width: 85px;
    min-height: 120px;
    margin: 10px;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card_back,
.card_front{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 5px 5px darkslategrey;
}

.card_back {
    background-image: url("./imgs/stars.png");
    background-size: cover;
    
}

/* transform keeps face down until flipped */
.card_front {
    background: goldenrod;
    transform: rotateY(180deg);
    border: 3px solid navy;
    
}


.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }

.card.match {
   transform: rotateY(180deg);
   transform: translateX(-100%) rotateY(-180deg);
}

#won {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transform: translateY(-500px);
    background: center / cover url("./imgs/win.png");
    box-shadow: 0px 0px 20px black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: indigo;
    box-shadow:     inset 2px 2px 6px violet, 
                    inset -3px -3px 4px white, 
                    inset 0px 0px 5px blueviolet, 
                    0px -20px 20px midnightblue;
    margin-top: 30px;
    position: relative;
}    

ul {
    justify-content: left;
    margin-left: 2%;
    padding-inline-start: 0;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
    font-size: 12px;
    color: whitesmoke;
    margin: 5px 0px;
    padding-left: 10px;
}

a:link,
a:visited {
    color: plum;
}

@media (min-width: 663px) {
    body {
        height: 100vh;
    }
    header {
        height: 10%;
        margin: 2% auto;
    }
    main{
        height: 80vh;
    }
    .card {
        min-width: 160px;
        min-height: 240px;
    }
    #won {
        width: 500px;
        transform: translateY(-300px);
        font-size: 3em;
    }
}

@media (min-width: 1200px) {
    .card {
        min-width: 240px;
        min-height: 360px;
    }
}